<div class="social-label" id="contact">
				<div class="col-md-4 text-label">
					<p>Follow, Like, Share us on Social.</p>
				</div>
					<div class="col-md-8 social-icn">
						<ul>
							<li>
								<a href="#" class="face"></a>
							</li>
							<li>
								<a href="#" class="twit"></a>
							</li>
							<li>
								<a href="#" class="gplus"></a>
							</li>
							<li>
								<a href="#" class="inst"></a>
							</li>
							<li>
								<a href="#" class="drib"></a>
							</li>
							<li>
								<a href="#" class="in"></a>
							</li>
						</ul>
					</div>
				<div class="clearfix"></div>
		</div>
			<div class="contact-form">
				<div class="container">
					<div class="col-md-3 pd adress">
						<h3>address</h3>
						<ul>
							<li>Rome</li>
							<li>Italy</li>
							<li>55, Cannal Street</li>
							<li>ht no, 1/1/295/1</li>
						</ul>
					</div>
					<div class="col-md-3 pd news-letter">
						<h3>newsletter</h3>
						<p>Enter your e-mail to subscribe our newsletter</p>
						<form>
						<input class="mail" type="text" name="email" value="E-mail" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail';}">	
						<button type="button" class="btn btn-danger sub1">Go</button>
						</form>
					</div>
					<div class="col-md-6 pd contact-us">
						<h3>contact us</h3>
						<form>
						<textarea value="Message:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Enter your text here...</textarea>
						<br>
						<input class="name" type="text" name="name" value="Your name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
						<input class="nuber" type="text" name="Phone number" value="Phone Number" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Number';}">
						<button type="button" class="btn btn-danger sub1">Send</button>
						</form>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>