<div class="content">
			<div class="service_features" id="features">
				<div class="container">
					<div class="col-md-12 ser-fet">
						<h3>All Events</h3>
						<div class="features">
							<div class="row">
								<div class="col-sm-4">
									<div class="bs-box">
										<a href="#" class="event-link" data-toggle="modal" data-target="#myModal">
											<img src="<?php echo BASE_URL;?>images/1p.jpg" alt="Event pic">
											<div>
												<h4>Total check up now at your door step</h4>
												<span><span class="glyphicon glyphicon-map-marker"></span> 73 Street, San Andreas</span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="bs-box">
										<a href="#" class="event-link" data-toggle="modal" data-target="#myModal">
											<img src="<?php echo BASE_URL;?>images/1p.jpg" alt="Event pic">
											<div>
												<h4>Total check up now at your door step</h4>
												<span><span class="glyphicon glyphicon-map-marker"></span> 73 Street, San Andreas</span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="bs-box">
										<a href="#" class="event-link" data-toggle="modal" data-target="#myModal">
											<img src="<?php echo BASE_URL;?>images/1p.jpg" alt="Event pic">
											<div>
												<h4>Total check up now at your door step</h4>
												<span><span class="glyphicon glyphicon-map-marker"></span> 73 Street, San Andreas</span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="bs-box">
										<a href="#" class="event-link" data-toggle="modal" data-target="#myModal">
											<img src="<?php echo BASE_URL;?>images/1p.jpg" alt="Event pic">
											<div>
												<h4>Total check up now at your door step</h4>
												<span><span class="glyphicon glyphicon-map-marker"></span> 73 Street, San Andreas</span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="bs-box">
										<a href="#" class="event-link" data-toggle="modal" data-target="#myModal">
											<img src="<?php echo BASE_URL;?>images/1p.jpg" alt="Event pic">
											<div>
												<h4>Total check up now at your door step</h4>
												<span><span class="glyphicon glyphicon-map-marker"></span> 73 Street, San Andreas</span>
											</div>
										</a>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="bs-box">
										<a href="#" class="event-link" data-toggle="modal" data-target="#myModal">
											<img src="<?php echo BASE_URL;?>images/1p.jpg" alt="Event pic">
											<div>
												<h4>Total check up now at your door step</h4>
												<span><span class="glyphicon glyphicon-map-marker"></span> 73 Street, San Andreas</span>
											</div>
										</a>
									</div>
								</div>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<?= $this->element('index_footer');?>